# Database
DATABASE_URL="postgresql://postgres:password@localhost:5434/powerinside"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# Anthropic (Claude AI)
ANTHROPIC_API_KEY=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Telegram Mini App
TELEGRAM_BOT_TOKEN=""
TELEGRAM_WEBHOOK_SECRET=""
